*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container{
    margin: auto;
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.container .btn{
    height: 40px;
    width: 200px;
}